In [1]:
import pickle
import pandas as pd
from pathlib import Path

In [ ]:
# load the model from disk
loaded_model = pickle.load(open(str(Path("../5_modelling/data/finalized_model.sav")), 'rb'))

In [2]:
col_names = list(pd.read_csv(str(Path("../5_modelling/proba.csv")))["Unnamed: 0"].values)

In [3]:
data = pd.read_csv(str(Path("../5_modelling/proba.csv"))).T.drop("Unnamed: 0")

In [4]:
data.columns = col_names

In [5]:
data

,hany_eves,hany_eves_2,MEGTETT,MEGTETT_2,KLÍMA,LÉGZSÁK,ALUFELNI,ASR,AUTOMATA,BI-XENON,...,infiniti,jaguar,land_rover,porsche,lexus,maserati,Hibrid,Elektromos,Dízel,Benzin
9,1,1,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [ ]:
10 ** loaded_model.predict(data)[0]

In [6]:
col_names = ["hany_eves","hany_eves_2","MEGTETT","MEGTETT_2","KLÍMA","LÉGZSÁK",\
             "ALUFELNI","ASR","AUTOMATA","BI-XENON","BLUETOOTH","TELJESITMENY LOERO",\
             "audi","mercedes-benz","bmw","infiniti","jaguar","land_rover","porsche",\
             "lexus","maserati","Hibrid","Elektromos","Dízel","Benzin"]

In [7]:
data2 = data.drop(['BLUETOOTH', 'TELJESITMENY LOERO', 'audi', 'mercedes-benz'],axis = 1)

In [8]:
pd.merge(pd.DataFrame(0,index=range(1),columns=col_names), data2, how = "right",on = list(data2.columns)).fillna(0).T

                      0
hany_eves           1.0
hany_eves_2         1.0
MEGTETT             0.0
MEGTETT_2           0.0
KLÍMA               1.0
LÉGZSÁK             1.0
ALUFELNI            0.0
ASR                 0.0
AUTOMATA            0.0
BI-XENON            0.0
BLUETOOTH           0.0
TELJESITMENY LOERO  0.0
audi                0.0
mercedes-benz       0.0
bmw                 0.0
infiniti            0.0
jaguar              0.0
land_rover          0.0
porsche             0.0
lexus               0.0
maserati            0.0
Hibrid              0.0
Elektromos          0.0
Dízel               0.0
Benzin              1.0

In [16]:
ev=2323
km=32434
klima=1
legzsak=1
alufelni=1
asr=0
automata=0
bixenon=1
bluetooth=1
loero=1121
marka="egyeb"
uzemanyag="Benzin"
d={'hany_eves': [ev], 'MEGTETT': [km], 'KLÍMA': [klima], 'LÉGZSÁK': [legzsak], 'ALUFELNI': [alufelni], 'ASR': [asr],
    'AUTOMATA': [automata], 'BI-XENON': [bixenon], 'BLUETOOTH': [bluetooth], 'TELJESITMENY LOERO': [loero], 'Márka': [marka],
    'Üzemanyag': [uzemanyag]}
df = pd.DataFrame(data=d)

In [19]:
df["Márka"] == "egyeb"

0    True
Name: Márka, dtype: bool

In [ ]:
df = df.join(pd.get_dummies(df["Márka"]))
df = df.drop(["Márka"], axis = 1)

df = df.join(pd.get_dummies(df["Üzemanyag"]))
df = df.drop(["Üzemanyag"], axis = 1)

In [14]:
df_final = pd.merge(pd.DataFrame(0,index=range(1),columns=col_names), df, how = "right",on = list(df.columns)).fillna(0).T

In [15]:
df_final

                          0
hany_eves            2323.0
hany_eves_2             0.0
MEGTETT             32434.0
MEGTETT_2               0.0
KLÍMA                   1.0
LÉGZSÁK                 1.0
ALUFELNI                1.0
ASR                     0.0
AUTOMATA                0.0
BI-XENON                1.0
BLUETOOTH               1.0
TELJESITMENY LOERO   1121.0
audi                    1.0
mercedes-benz           0.0
bmw                     0.0
infiniti                0.0
jaguar                  0.0
land_rover              0.0
porsche                 0.0
lexus                   0.0
maserati                0.0
Hibrid                  0.0
Elektromos              0.0
Dízel                   0.0
Benzin                  1.0